{{ define "main" }}
    {{- $path := "" -}}
    {{- with .File -}}
        {{- $path = .Path -}}
    {{- else -}}
        {{- $path = .Path -}}
    {{- end -}}

    {{ if and (eq .Kind "section") .Content }}
        {{ partial "pages/post.html" . }}
    {{ else }}
        <main class="main list" id="main">
            <div class="main-inner">
                <div class="content list-group">
                    {{ if .Site.Params.displayListTitle }}
                        {{ if (eq .Kind "section") }}
                            <h1 class="list-title">{{ .Title | default (delimit (last 1 (split (strings.TrimSuffix "/_index.md" $path) "/")) " ") }}</h1>
                        {{ end }}
                        {{ if (eq .Kind "term") }}
                            <h1 class="list-title">{{ .Title | default .Data.Term | default (delimit (last 1 (split (strings.TrimSuffix "/_index.md" $path) "/")) " ") }}</h1>
                        {{ end }}
                    {{ end }}

                    {{ .Scratch.Delete "pages" }}

                    {{ if (eq .Kind "section") }}
                        {{ if (eq .Section "archives") }}
                            {{ $pages := (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
                            {{ .Scratch.Set "pages" $pages }}
                        {{ else }}
                            {{ $sectionPage := .CurrentSection }}
                            {{ range .Site.RegularPages }}
                                {{ if (.IsDescendant $sectionPage) }}
                                    {{ $.Scratch.Add "pages" (slice .) }}
                                {{ end }}
                            {{ end }}
                        {{ end }}

                        {{ with .Params.extraPages }}
                            {{ range . }}
                                {{ with $.Site.GetPage . }}
                                    {{ $.Scratch.Add "pages" (slice .) }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}

                    {{ if (eq .Kind "term") }}
                        {{ $pages := .Pages }}
                        {{ $.Scratch.Set "pages" $pages }}
                    {{ end }}

                    {{ $pages := .Scratch.Get "pages" }}
                    {{ if $pages }}
                        {{ $pages = sort $pages "Date" "asc" }}
                        {{ range ($pages.GroupByDate "2006").Reverse }}
                            {{ $year := .Key }}
                            {{ $year = replace $year "0" "零" }}
                            {{ $year = replace $year "1" "壹" }}
                            {{ $year = replace $year "2" "貳" }}
                            {{ $year = replace $year "3" "參" }}
                            {{ $year = replace $year "4" "肆" }}
                            {{ $year = replace $year "5" "伍" }}
                            {{ $year = replace $year "6" "陸" }}
                            {{ $year = replace $year "7" "柒" }}
                            {{ $year = replace $year "8" "捌" }}
                            {{ $year = replace $year "9" "玖" }}
                            {{ $yearEnglish := .Key }}
                            {{ if eq .Key "2000" }}
                                {{ $year = "貳零零零-貳零壹零" }}
                                {{ $yearEnglish = "2000-2010" }}
                            {{ else if eq .Key "2026" }}
                                {{ $yearEnglish = "twenty twenty-six" }}
                            {{ end }}
                            <h2 class="list-year list-year-bilingual"><span>{{ $year }}</span><span class="list-year-en">{{ $yearEnglish }}</span></h2>

                            {{ if $.Site.Params.groupByMonth }}
                                {{ range (.Pages.GroupByDate "January").Reverse }}
                                    {{ $.Scratch.Delete "month" }}
                                    {{ if $.Site.Params.i18nMonth }}
                                        {{ $month := i18n (lower .Key) }}
                                        {{ $.Scratch.Set "month" $month }}
                                    {{ else }}
                                        {{ $.Scratch.Set "month" .Key }}
                                    {{ end }}
                                    {{ $month := $.Scratch.Get "month" }}
                                    <h3 class="list-month">{{ $month }}</h3>
                                    {{ partial "utils/list-item.html" (dict "$" .) }}
                                {{ end }}
                            {{ else }}
                                {{ partial "utils/list-item.html" (dict "$" .) }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </main>
    {{ end }}
{{ end }}
